<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Localization" [formControl]="location">
            </div>
            <div class="col-2">
                <div class="input-group mb-2">
                    <input type="text" class="form-control range-input" [(ngModel)]="rangeString">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-plus vote-button" aria-hidden="true" (click)="increaseRange()"></i>
                            <i class="fas fa-minus vote-button" aria-hidden="true" (click)="decreaseRange()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 text-center">
                or 
            </div>
            <div class="col-1 justify-content-center">
                <button type="button" class="btn btn-success" (click)="getLocation()">Use my localization</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center font-weight-bold">
            pick categories
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div *ngIf="!isFiltered; else elseBlock">
                    <span *ngFor="let category of categories$ | async" [className]="isSelected(category.name) ? 'badge-success badge category-badge' : 'badge-primary badge category-badge'" (click)="toogleCategory(category)">
                        #{{category.name}}
                    </span>
                </div>
                <ng-template #elseBlock>
                    <span *ngFor="let category of filteredCategories$ | async" [className]="isSelected(category.name) ? 'badge-success badge category-badge' : 'badge-primary badge category-badge'" (click)="toogleCategory(category)">
                        #{{category.name}}
                    </span>
                </ng-template>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Filter categories" [formControl]="categoryFilterValue">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center font-weight-bold">
            or just type name of place you are looking for
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="What are you looking for?">
            </div>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center">
                <button type="button" class="btn btn-success search-button" (click)="searchPlaces()">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="searchedPlaces$ | async as places" style="margin-top: 10px;">
    <div class="col-md-7 ml-sm-auto col-lg-6 px-4">
        <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="moveMarker($event.coords.lat, $event.coords.lng)">
            <agm-marker *ngFor='let place of places' [latitude]="place.latitude" [longitude]="place.longitude" [markerDraggable]="false">
            </agm-marker>
        </agm-map>
    </div>

    <div class="col-md-5 ml-sm-auto col-lg-6 px-4">
        <div class="row container single-place shadow-sm p-3 mb-5 rounded" *ngFor="let place of places">
            <div class="place-title col-md-12 ml-sm-auto col-lg-12 px-4">
                <h3>{{place.name}}</h3>
                <hr/>
            </div>
            <div class="row place-desc col-md-12 ml-sm-auto col-lg-12 px-4">
                <h5>{{place.text}}</h5>
                <hr/>
            </div>
            <div class="row place-badges col-md-12 ml-sm-auto col-lg-12 px-4">
                <span *ngFor="let category of place.categories$" class="badge badge-primary">
                    {{category.name}}
                </span>
            </div>
            <div class="row justify-content-end place-badges col-md-12 ml-sm-auto col-lg-12 px-4">
                <div class="col-2">
                    <button [attr.id]="'r_' + place.id" type="button" class="btn btn-light" (click)="showPlaceDetails($event)">{{place.reviewsCount}} Reviews</button>
                </div>
            </div>
        </div>
    </div>
</div>
    