agm-map {
    height: 700px;
    width: 700px;
  }
  
.badge {
margin-left: 3px;
}

.single-place {
    padding: 10px;
    background-color: #3F51B5;
    margin-bottom: 20px;
}

.category-badge {
  padding: 10px;
  cursor: pointer;
}

.vote-button {
  cursor: pointer;
}

.search-button {
  margin-top: 10px;
}