agm-map {
    width: 500px;
    height: 500px;
}

.text-link {
    color: #3F51B5 !important;
    font-weight: bold;
    cursor: pointer;
}

.to-right {
    text-align: right;
    font-size: 0.9em;
    color: gray;
}

.comment-container {
    padding: 5px;
}